xml-convert-merge/Xml_convert_merge.json
{"flowContents":{"identifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","instanceIdentifier":"01941015-288e-11c1-cefc-0498b34d6dc3","name":"Xml convert merge","comments":"","position":{"x":1960.0,"y":-1288.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4f605820-a1e1-307c-9e5b-3c8b921a98c8","instanceIdentifier":"01941004-7f9a-11c9-5c98-4dd14e87b480","name":"Generate - Jazz","comments":"","position":{"x":1608.0,"y":-1536.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"text/xml","generate-ff-custom-text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<song>\n  <title>Giant Steps</title>\n  <album>Giant Steps</album>\n  <artist>John Coltrane</artist>\n  <type>Jazz</type>\n</song> ","Batch Size":"10","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"d9917a7b-de23-3352-b415-17a87b0e3eff","instanceIdentifier":"0194104b-9e4d-11c9-dd3e-12917dc7f849","name":"UpdateAttribute","comments":"","position":{"x":2752.0,"y":-534.8351440429688},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","rating":"-20","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"rating":{"name":"rating","displayName":"rating","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"b827a9b1-aba9-3abe-8134-b586120d0154","instanceIdentifier":"0194103f-9e4d-11c9-6ce8-16f95105d009","name":"UpdateAttribute","comments":"","position":{"x":2016.0,"y":-534.8351440429688},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","rating":"4","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"rating":{"name":"rating","displayName":"rating","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"4c7be3d2-a0bc-3ca1-8f8f-c029935142f1","instanceIdentifier":"01941005-7f9a-11c9-c01d-25d65b498b30","name":"Generate - Rock","comments":"","position":{"x":2016.0,"y":-1536.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"text/xml","generate-ff-custom-text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<song>\n  <title>Odyssey</title>\n  <album>Welcom to Sky Valley</album>\n  <artist>Kyuss</artist>\n  <type>Rock</type>\n</song> ","Batch Size":"10","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"e7e90e9d-3463-38b9-a6e0-0700308f6add","instanceIdentifier":"01941023-9e4d-11c9-6b8d-5b5b0013c426","name":"UpdateAttribute","comments":"","position":{"x":1592.0,"y":-534.8351440429688},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","rating":"4","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"rating":{"name":"rating","displayName":"rating","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"876a7a62-f30d-3c47-8b3a-ce620e0cbb27","instanceIdentifier":"01941012-9e4d-11c9-1195-18dc848c4162","name":"EvaluateJsonPath","comments":"","position":{"x":2016.0,"y":-944.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","artist":"$.artist","album":"$.album","Return Type":"auto-detect","Null Value Representation":"empty string","type":"$.type","title":"$.title","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"artist":{"name":"artist","displayName":"artist","identifiesControllerService":false,"sensitive":false},"album":{"name":"album","displayName":"album","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"ea3cc522-36b7-300f-8844-4d5f43322ed7","instanceIdentifier":"01941031-9e4d-11c9-18f5-0c50bc8f47e6","name":"AttributesToJSON","comments":"","position":{"x":2016.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"album,title,artist,type,rating","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"3e707122-3147-3a5c-ae15-bc85dc35532a","instanceIdentifier":"01941049-9e4d-11c9-7314-f0955ba9a904","name":"UpdateAttribute","comments":"","position":{"x":2392.0,"y":-534.8351440429688},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","rating":"0","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"rating":{"name":"rating","displayName":"rating","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"7dd2de94-b4a1-315d-b6c1-3e3e372ffb0e","instanceIdentifier":"01941001-7f9a-11c9-a44e-bea12170f54c","name":"LogMessage","comments":"","position":{"x":2016.0,"y":176.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"732cbd69-a8a4-3b5c-aeab-27d98d8531dd","instanceIdentifier":"0194101a-9e4d-11c9-54c7-2ea709afb8b4","name":"RouteOnAttribute","comments":"","position":{"x":2016.0,"y":-726.8351440429688},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Routing Strategy":"Route to Property name","Rock":"${type:equals(\"Rock\")}","Jazz":"${type:equals(\"Jazz\")}","Country":"${type:equals(\"Country\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Rock":{"name":"Rock","displayName":"Rock","identifiesControllerService":false,"sensitive":false},"Jazz":{"name":"Jazz","displayName":"Jazz","identifiesControllerService":false,"sensitive":false},"Country":{"name":"Country","displayName":"Country","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"8b32e717-ca0d-3d06-b292-caddbcc41349","instanceIdentifier":"01941003-9e4d-11c9-22e2-687633a63108","name":"ConvertRecord","comments":"","position":{"x":2016.0,"y":-1192.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"record-writer":"15f33c8d-db7d-3b49-b138-52f65998237c","record-reader":"a60ba5c8-d2b9-3037-a8a8-8ef3df6616f2","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"225d2f74-c5cb-394e-86e0-934296713d66","instanceIdentifier":"01941041-9e4d-11c9-cdc3-dae2d5720c9f","name":"Generate - WesternCountry","comments":"","position":{"x":2416.0,"y":-1536.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"text/xml","generate-ff-custom-text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<song>\n  <title>El Paso</title>\n  <album>50 Greatest country hits</album>\n  <artist>The Starlite Singers</artist>\n  <type>Country</type>\n</song> ","Batch Size":"10","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"11e9544b-9154-3b12-987b-38554e82f1c4","instanceIdentifier":"01941003-7f9a-11c9-a9a9-690b6c7ea5e2","name":"MergeContent","comments":"","position":{"x":2016.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","Compression Level":"1","Maximum Number of Entries":"10","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":"type","Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f003df73-f1ab-383d-86dc-df2c3acb2c9f","instanceIdentifier":"01941014-9e4d-11c9-0730-20853a752634","name":"","source":{"id":"8b32e717-ca0d-3d06-b292-caddbcc41349","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"ConvertRecord","comments":"","instanceIdentifier":"01941003-9e4d-11c9-22e2-687633a63108"},"destination":{"id":"876a7a62-f30d-3c47-8b3a-ce620e0cbb27","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"01941012-9e4d-11c9-1195-18dc848c4162"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"54071201-9392-3a49-a534-d10d353b0bf7","instanceIdentifier":"01941044-9e4d-11c9-db8f-926f4a1f459b","name":"","source":{"id":"b827a9b1-aba9-3abe-8134-b586120d0154","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"UpdateAttribute","comments":"","instanceIdentifier":"0194103f-9e4d-11c9-6ce8-16f95105d009"},"destination":{"id":"77dc4ee9-e62c-3555-b03a-a3b9181a50d2","type":"FUNNEL","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Funnel","comments":"","instanceIdentifier":"01941043-9e4d-11c9-c6df-c9f3a3cb15dc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"63b21afe-6a72-3fc9-b683-df224ceb1612","instanceIdentifier":"01941025-9e4d-11c9-af2f-908a384a22c2","name":"","source":{"id":"e7e90e9d-3463-38b9-a6e0-0700308f6add","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941023-9e4d-11c9-6b8d-5b5b0013c426"},"destination":{"id":"77dc4ee9-e62c-3555-b03a-a3b9181a50d2","type":"FUNNEL","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Funnel","comments":"","instanceIdentifier":"01941043-9e4d-11c9-c6df-c9f3a3cb15dc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1832.0,"y":-368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"52254ed4-118c-3cf8-adf9-7d04810d1b5b","instanceIdentifier":"0194104f-9e4d-11c9-aaae-32f839c3bb58","name":"","source":{"id":"d9917a7b-de23-3352-b415-17a87b0e3eff","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"UpdateAttribute","comments":"","instanceIdentifier":"0194104b-9e4d-11c9-dd3e-12917dc7f849"},"destination":{"id":"77dc4ee9-e62c-3555-b03a-a3b9181a50d2","type":"FUNNEL","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Funnel","comments":"","instanceIdentifier":"01941043-9e4d-11c9-c6df-c9f3a3cb15dc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2912.0,"y":-360.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"9c15e748-66dc-3ca2-83ce-3bc9984f0c51","instanceIdentifier":"0194104e-9e4d-11c9-3045-d2fc7ec0bd48","name":"","source":{"id":"732cbd69-a8a4-3b5c-aeab-27d98d8531dd","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"RouteOnAttribute","comments":"","instanceIdentifier":"0194101a-9e4d-11c9-54c7-2ea709afb8b4"},"destination":{"id":"d9917a7b-de23-3352-b415-17a87b0e3eff","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"UpdateAttribute","comments":"","instanceIdentifier":"0194104b-9e4d-11c9-dd3e-12917dc7f849"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Country"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2928.0,"y":-664.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"76a81a97-c0f6-318f-8475-23ea3dfd1ae6","instanceIdentifier":"0194100b-7f9a-11c9-821c-e1edfc0fdced","name":"","source":{"id":"4f605820-a1e1-307c-9e5b-3c8b921a98c8","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Generate - Jazz","comments":"","instanceIdentifier":"01941004-7f9a-11c9-5c98-4dd14e87b480"},"destination":{"id":"380ed371-bb21-3e87-ae65-001fd8462b10","type":"FUNNEL","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Funnel","comments":"","instanceIdentifier":"01941016-288e-11c1-dd1f-818b7688c602"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1888.0,"y":-1352.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"d1d24eba-610e-3ca7-9e55-d5b89ae557fd","instanceIdentifier":"0194104d-9e4d-11c9-5545-06a233f0f863","name":"","source":{"id":"3e707122-3147-3a5c-ae15-bc85dc35532a","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941049-9e4d-11c9-7314-f0955ba9a904"},"destination":{"id":"77dc4ee9-e62c-3555-b03a-a3b9181a50d2","type":"FUNNEL","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Funnel","comments":"","instanceIdentifier":"01941043-9e4d-11c9-c6df-c9f3a3cb15dc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2504.0,"y":-368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"6ddadf36-d2d0-3e27-877f-a46291f8ec0e","instanceIdentifier":"01941046-9e4d-11c9-ec67-2ae2e5612aa0","name":"","source":{"id":"77dc4ee9-e62c-3555-b03a-a3b9181a50d2","type":"FUNNEL","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Funnel","comments":"","instanceIdentifier":"01941043-9e4d-11c9-c6df-c9f3a3cb15dc"},"destination":{"id":"ea3cc522-36b7-300f-8844-4d5f43322ed7","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"AttributesToJSON","comments":"","instanceIdentifier":"01941031-9e4d-11c9-18f5-0c50bc8f47e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"da06997a-9969-3abb-8393-f840b592d336","instanceIdentifier":"0194101b-9e4d-11c9-a197-038ec083e568","name":"","source":{"id":"876a7a62-f30d-3c47-8b3a-ce620e0cbb27","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"01941012-9e4d-11c9-1195-18dc848c4162"},"destination":{"id":"732cbd69-a8a4-3b5c-aeab-27d98d8531dd","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"RouteOnAttribute","comments":"","instanceIdentifier":"0194101a-9e4d-11c9-54c7-2ea709afb8b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"b705d315-08d9-3800-a7a2-3cd076558d90","instanceIdentifier":"01941042-9e4d-11c9-e3b7-4c4375b85123","name":"","source":{"id":"732cbd69-a8a4-3b5c-aeab-27d98d8531dd","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"RouteOnAttribute","comments":"","instanceIdentifier":"0194101a-9e4d-11c9-54c7-2ea709afb8b4"},"destination":{"id":"b827a9b1-aba9-3abe-8134-b586120d0154","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"UpdateAttribute","comments":"","instanceIdentifier":"0194103f-9e4d-11c9-6ce8-16f95105d009"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Rock"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"6b1d9180-3fea-3a84-90f1-2152a1cef5f6","instanceIdentifier":"0194104c-9e4d-11c9-d112-8876704bd27d","name":"","source":{"id":"732cbd69-a8a4-3b5c-aeab-27d98d8531dd","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"RouteOnAttribute","comments":"","instanceIdentifier":"0194101a-9e4d-11c9-54c7-2ea709afb8b4"},"destination":{"id":"3e707122-3147-3a5c-ae15-bc85dc35532a","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941049-9e4d-11c9-7314-f0955ba9a904"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2568.0,"y":-592.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"e64080b9-88aa-3121-a2fd-3af30c900edb","instanceIdentifier":"01941007-7f9a-11c9-6870-7cbd1c62f2fb","name":"","source":{"id":"4c7be3d2-a0bc-3ca1-8f8f-c029935142f1","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Generate - Rock","comments":"","instanceIdentifier":"01941005-7f9a-11c9-c01d-25d65b498b30"},"destination":{"id":"380ed371-bb21-3e87-ae65-001fd8462b10","type":"FUNNEL","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Funnel","comments":"","instanceIdentifier":"01941016-288e-11c1-dd1f-818b7688c602"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"bb06b994-c525-33dd-ac64-664ea663b809","instanceIdentifier":"01941024-9e4d-11c9-ff01-4109aa65a291","name":"","source":{"id":"732cbd69-a8a4-3b5c-aeab-27d98d8531dd","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"RouteOnAttribute","comments":"","instanceIdentifier":"0194101a-9e4d-11c9-54c7-2ea709afb8b4"},"destination":{"id":"e7e90e9d-3463-38b9-a6e0-0700308f6add","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"UpdateAttribute","comments":"","instanceIdentifier":"01941023-9e4d-11c9-6b8d-5b5b0013c426"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Jazz"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1816.0,"y":-592.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"c0653b80-700a-362f-9cf3-f0ba737223a5","instanceIdentifier":"01941047-9e4d-11c9-b879-9432e75b7eeb","name":"","source":{"id":"225d2f74-c5cb-394e-86e0-934296713d66","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Generate - WesternCountry","comments":"","instanceIdentifier":"01941041-9e4d-11c9-cdc3-dae2d5720c9f"},"destination":{"id":"380ed371-bb21-3e87-ae65-001fd8462b10","type":"FUNNEL","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Funnel","comments":"","instanceIdentifier":"01941016-288e-11c1-dd1f-818b7688c602"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2496.0,"y":-1352.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"8c18eb4e-3275-30f8-bea5-73af6807188e","instanceIdentifier":"01941002-9e4d-11c9-bbb9-c4a350d5daa6","name":"","source":{"id":"380ed371-bb21-3e87-ae65-001fd8462b10","type":"FUNNEL","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"Funnel","comments":"","instanceIdentifier":"01941016-288e-11c1-dd1f-818b7688c602"},"destination":{"id":"8b32e717-ca0d-3d06-b292-caddbcc41349","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"ConvertRecord","comments":"","instanceIdentifier":"01941003-9e4d-11c9-22e2-687633a63108"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"f6279be2-2552-367f-98f4-fefb0fba07d0","instanceIdentifier":"01941032-9e4d-11c9-e07e-788b9220b59a","name":"","source":{"id":"ea3cc522-36b7-300f-8844-4d5f43322ed7","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"AttributesToJSON","comments":"","instanceIdentifier":"01941031-9e4d-11c9-18f5-0c50bc8f47e6"},"destination":{"id":"11e9544b-9154-3b12-987b-38554e82f1c4","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"MergeContent","comments":"","instanceIdentifier":"01941003-7f9a-11c9-a9a9-690b6c7ea5e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"ec595bbd-cffa-352f-9743-f9be802447d9","instanceIdentifier":"01941008-7f9a-11c9-a531-6089d0709ddc","name":"","source":{"id":"11e9544b-9154-3b12-987b-38554e82f1c4","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"MergeContent","comments":"","instanceIdentifier":"01941003-7f9a-11c9-a9a9-690b6c7ea5e2"},"destination":{"id":"7dd2de94-b4a1-315d-b6c1-3e3e372ffb0e","type":"PROCESSOR","groupId":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23","name":"LogMessage","comments":"","instanceIdentifier":"01941001-7f9a-11c9-a44e-bea12170f54c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"}],"labels":[{"identifier":"e7ae50ec-3dd7-3498-bb31-8013d6de8379","instanceIdentifier":"01941052-9e4d-11c9-8117-2d301e326556","position":{"x":2376.0,"y":-1192.0},"label":"Convert the XML record to JSON\nas it's easier to manage\nwe will need to convert back","zIndex":0,"width":200.0,"height":64.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"9988f991-1ab6-30c2-b20a-dc30e1ee31d7","instanceIdentifier":"01941051-9e4d-11c9-d21b-96b19db664e2","position":{"x":2384.0,"y":-728.0},"label":"Route to update rating by song type","zIndex":0,"width":216.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"40596e9b-13e2-3916-abe6-02d7a01e2f8a","instanceIdentifier":"01941050-9e4d-11c9-7ff2-9d27f48c9e8b","position":{"x":2400.0,"y":-16.0},"label":"Merge the content by the same \"type\" attribute","zIndex":0,"width":272.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"}],"funnels":[{"identifier":"380ed371-bb21-3e87-ae65-001fd8462b10","instanceIdentifier":"01941016-288e-11c1-dd1f-818b7688c602","position":{"x":2168.0,"y":-1304.0},"componentType":"FUNNEL","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"77dc4ee9-e62c-3555-b03a-a3b9181a50d2","instanceIdentifier":"01941043-9e4d-11c9-c6df-c9f3a3cb15dc","position":{"x":2168.0,"y":-328.0},"componentType":"FUNNEL","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"}],"controllerServices":[{"identifier":"15f33c8d-db7d-3b49-b138-52f65998237c","instanceIdentifier":"01941005-9e4d-11c9-7313-7356a2364c1c","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Allow Scientific Notation":"true","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"},{"identifier":"a60ba5c8-d2b9-3037-a8a8-8ef3df6616f2","instanceIdentifier":"01941004-9e4d-11c9-a2bc-60eeb583ee4f","name":"XMLReader","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ba32aa7-51c0-3d78-b834-3e7b56c26d23"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}